@use 'fonts';
//font//
$base-font-family: 'lato',sans-serif, Helvetica;
$mobile-base-font-size: 14px;
$mobile-header-size: 17px;
$base-font-weight: 300;
$mobile-font-bold: 700;
$project-subtitle: 600;
$mobile-line-height: 20px;
$tablet-line-height: 25px;
$desktop-line-height: 30px;

//tablet font//
$tablet-header-font-size: 20px;
$tablet-body-font-size: 18px;

//Desktop font//
$desktop-header-font-size: 27px;
$desktop-body-font-size: 20px;


//colour//
$primary-colour: #EFEF6E;
$primary-colour-two: #6FC3DF;
$secondary-colour: #F8F8F8;
$body-text-colour: #2B2A2A;
$line-colour: #E0DDDD;
$base-colour: white;

//basic style//
$base-border: 10px;
$tablet-border: 25px;



//icon//


