@use 'fonts';
//font//
$base-font-family: 'lato',sans-serif, Helvetica;
$mobile-base-font-size: 12px;
$base-font-weight: 400;
$mobile-font-bold: 700;

//colour//
$primary-colour: #EFEF6E;
$primary-colour-two: #6FC3DF;
$secondary-colour: #EFEFEF;
$body-text-colour: #2B2A2A;
