@use '../abstracts/variables' as v;

#lightbox {
    position: absolute;
    top: 0;
    z-index: 1500;
    background-color: rgba(0, 0, 0, 0.79);
    height: 100%;
    overflow-x: hidden;
    left: 0%;
    right: 0;
}

.size {
    display: flex;
    justify-content: center;
    align-self: center;
}

.lightbox {
    display: none;
}


#about-me {
    background-color: white;
    padding: 50px 20px;
    margin: 10px;
    height: max-content;
}

#aboutme-close-button {
    background-color: v.$secondary-colour;
    width: 30px;
    height: 30px;
    position: relative;
    justify-self: center;
    cursor: pointer;
    margin-top: 0;
}

#aboutme-close-button:hover {


    transition: 0.5 ease-in-out;
    .aboutme-close:nth-child(1) {
        display: none;
        background-color: v.$primary-colour;
    }

    .aboutme-close:nth-child(2) {
        transform: rotate(180deg);
    }
}

.aboutme-close {
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: v.$body-text-colour;
    border-radius: 15px;
    top: 45%;
    left: 17%;
}


.aboutme-close:nth-child(1) {
    transform: rotate(45deg) translate(0, 0);
}

.aboutme-close:nth-child(2) {
    transform: rotate(-45deg) translate(0, 0);
}

.background-left {
    background-color: v.$primary-colour-two;
    width: 250px;
    height: 100px;
    margin-left: 20px;
}

.background-right {
    background-color: v.$primary-colour;
    width: 250px;
    height: 100px;
    float: right;
    margin-right: 20px;
}

#photo-section {
    position: relative;
    margin: 20px 50px;
    cursor: pointer;
}

.my-photo {
    position: absolute;
    display: flex;
    top: 1%;
    left: 5%;
    overflow: hidden;
    width: 90%;

    img {
        height: auto;
        overflow: hidden;
        margin: 10px;
    }
}

.aboutme-intro {
    margin: 40px 0;
}

#design-process {
    margin: 0;
    padding: 0;

    h3 {
        padding-bottom: 30px;
    }
}


@media screen and (min-width: 768px) {

    #lightbox {
        position: absolute;
        top: 0;
        z-index: 1500;
        background-color: rgba(0, 0, 0, 0.635);
        height: 100%;
        overflow-x: hidden;
    }
    
    .lightbox {
        display: none;
    }
    

    #about-me {
        padding: 50px 60px;
        margin: 20px;
    }

    #aboutme-close-button {
        width: 40px;
        height: 40px;
    }


    .aboutme-close {
        width: 30px;
        height: 4px;
        left: 15%;
    }

    
    #photo-section {
        margin: 30px 50px;
    }

    .background-left {
        width: 400px;
        height: 150px;
        margin-bottom: 80px;

    }
    
    .background-right {
        width: 400px;
        height: 150px;

    }
    
    
    .my-photo {
        position: absolute;
        display: flex;
        top: 5%;
        left: 5%;
        overflow: hidden;
        width: 90%;
        text-align: center;
    }

    #coding {
        margin: 20px 0;
    }

}

@media screen and (min-width: 1200px) {

    #about-me {
        padding: 50px 60px;
        margin: 50px;
    }


    #aboutme-close-button {
        width: 40px;
        height: 40px;
    }


    .aboutme-close {
        width: 30px;
        height: 4px;
        left: 15%;
    }

    #photo-section {
        margin: 30px 80px;
    }

    .my-photo {
        position: absolute;
        display: flex;
        top: 6%;
        left: 10%;
        width: 80%;
    }

    .background-left {
        width: 550px;
        height: 200px;
        margin-bottom: 100px;

    }
    
    .background-right {
        width: 550px;
        height: 200px;

    }


}








