@use '../abstracts/variables' as v;


footer {
    background-color: v.$primary-colour;
    justify-content: center;
    align-items: center;
    width: 100VW;
    p {
        color: v.$bg-white;
    }
}

#footer {
    padding: 30px;
    position: sticky;
}

.footer-right {
    text-align: right;
}







@media screen and (min-width: 768px) {



}

@media screen and (min-width: 1200px) {

    
}


