@use '../abstracts/variables' as v;


footer {
    background-color: v.$primary-colour;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-width: 100vw;
    font-size: 13px;
    margin: 0;
    padding: 0;
    display: block;

    p {
        color: v.$bg-white;
    }
}

#footer {
    padding: 20px;
    position: sticky;
    width: 100%;
    margin: 0;
}

#more-info {
    display: flex;
}

.footer-bottom {
    display: flex;
    padding: 5px 0;
}

#resume a, #linkedin a {
    color: v.$bg-white;
    font-size: 15px;
    font-weight: 600;
}

#resume, #linkedin {
    padding-bottom: 20px;
}

#resume a:hover, #linkedin a:hover {
    color: v.$orange-colour;
}

#linkedin {
    margin-left: auto;
    padding-right: 10px;
}



@media screen and (min-width: 768px) {

    footer {
        font-size: 15px;
    }

}

@media screen and (min-width: 1200px) {

    #linkedin {
        padding-right: 20px;
    }
    
}


