@use '../abstracts/variables' as v;

header {
    background-color: v.$primary-colour;
    box-shadow: 2px 2px 20px rgb(124, 124, 124);
    position: relative;
}

#sticky-nav {
    padding: 30px 30px;
}

#burger-icon {
    width: 40px;
    position: relative;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    z-index: 6;
    grid-column: 5;
}

.line {
    width: 100%;
    height: 4px;
    background-color: v.$body-text-colour;
    margin-bottom: 6px;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.line.active {
    background-color: v.$body-text-colour; 
  }

#main-logo {
    width: 160px;
    grid-column: 1;
}

#burger-icon.active .line:nth-child(1) {
    transform: rotate(35deg) translate(0px, 6px);
}

#burger-icon.active .line:nth-child(2) {
    transform: rotate(-35deg) translate(0px, -6px);
}

#mobile-nav {
    position: absolute;
    background-color: v.$base-colour;
    top: 0;
    left: 0;
    padding-top: 40%;
    z-index: 5;
    width: 100vw;
    height: 100vh;
}

#mobile-nav ul li {
    text-align: center;
    margin-left: -10px;
    margin-right: 40px;
    border-bottom: dashed 2px v.$line-colour;
    padding: 30px 0;
}

#mobile-nav ul li a {
    color: v.$body-text-colour;
    font-size: v.$mobile-header-size;
    position: relative;
}

.hide {
    display: none;
}

#hero img {
    grid-column: 1/-1;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
    width: 100%;
}

#hero-img {
    height: 680px;
}

#hero .grid-con {
    grid-column: 2/3;
    grid-row:1/1;
    margin: 0;
}


// #hero #hero-img img {
//     width: 100vw; 
//     height: 100vh; 
//     object-fit: cover; 
//     position: absolute;
//     top: 0;
//     left: 0;
//     z-index: -1; 
// }


.message-box {
    margin: 10px;
    background-color: v.$secondary-colour;
    padding: 10px;
    border-radius: v.$base-border;
}

#header-message {
    grid-row-start: 1;
    z-index: 4;
    margin: 60px 40px;
}

#about-img-container {
    width: 250px;
    height: 250px;
    overflow: hidden;
}

#about-img-container img {
    object-fit: contain;
    height: auto;
}

#about-me-message {
    width: 270px;
}

@media screen and (min-width: 768px) {

    #sticky-nav {
        padding: 30px 10px;
    }
    
    #burger-icon {
        display: none;
    }

    .hide {
        display: block;
    }

    #main-logo {
        margin-left: 60%;
        width: 200px;
        padding-top: 10px;
    }

    #mobile-nav {
        position: relative;
        width: 100vw;
        height: 0;
        top: 0;
        left: 0;
        z-index: 5;
        padding-top: 0;
    }

    #mobile-nav ul {
        display: flex;
        padding-top: 20px;
    }
    
    #mobile-nav ul li {
        margin-left: 0;
        border-bottom: 0;
        padding: 0 0;
    }

    #mobile-nav ul li p {
        padding-right: 30px;
        margin: auto;
    }


    
}

@media screen and (min-width: 1200px) {

    #main-logo {
        margin-left: 120%;
        width: 250px;
    }

    #mobile-nav {
        margin-left: 30px;
    }

    #mobile-nav ul {
        padding-top: 30px;
    }

    #mobile-nav ul li p {
        padding-right: 90px;
    }
    

    
}
