@use '../abstracts/variables' as v;

header {
    position: relative;
    background-color: v.$primary-colour;
}

#sticky-nav {
    padding: 30px 40px;
    border-radius: 100px;
    background-color: v.$primary-colour;
    box-shadow: 5px 4px rgba(23, 23, 23, 0.34);
    position: fixed;
    z-index: 1000;
    margin: 10px 10px;
}

#burger-icon {
    width: 35px;
    position: relative;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    z-index: 6;
    grid-column: 5;
}

.line {
    width: 100%;
    height: 3px;
    background-color: v.$body-text-colour;
    margin-bottom: 6px;
    border-radius: 15px;
    transition: transform 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.line.active {
    background-color: v.$body-text-colour; 
}

.desktop-size {
    display: none;
}

#main-logo {
    width: 110px;
    grid-column: 1;
}

#burger-icon.active .line:nth-child(1) {
    transform: rotate(35deg) translate(0px, 5px);
}

#burger-icon.active .line:nth-child(2) {
    transform: rotate(-35deg) translate(0px, -5px);
}

#mobile-nav {
    position: absolute;
    background-color: v.$base-colour;
    top: -15px;
    left: -10px;
    padding-top: 40%;
    z-index: 5;
    width: 100vw;
    height: 100vh;
}

#mobile-nav ul li {
    text-align: center;
    margin-left: -10px;
    margin-right: 40px;
    border-bottom: dashed 2px v.$line-colour;
    padding: 30px 0;
}

#mobile-nav ul li a {
    color: v.$body-text-colour;
    font-size: v.$mobile-header-size;
    position: relative;
}

.hide {
    display: none;
}

#hero img {
    grid-column: 1/3;
    grid-row-start: 1;
    grid-row-end: 3;
    justify-self: center;
    width: 100%;
    height: 80%;
}


.desktop-size{
    display: none;
}


#hero .grid-con {
    grid-column: 2/3;
    grid-row:1/1;
    margin: 0;
}


@media screen and (min-width: 768px) {

    .mobile-size {
        display: none;
    
    }

    .desktop-size{
        display: block;
    }
    

    #sticky-nav {
        padding: 30px 10px;
    }

    .desktop-size {
        display: block;
    }

    #hero img {
        grid-column: 1/-1;
        grid-row-start: 1;
        grid-row-end: 3;
        justify-self: center;
        width: 100%;
        height: 80%;
    }

    #hero {
        grid-column: 2/-1;
    }

    #sticky-nav {
        padding: 20px 40px;
        margin: 20px 10px;
    }       

    
    #burger-icon {
        display: none;
    }

    .hide {
        display: block;
    }

    #main-logo {
        width: 130px;
        padding-top: 10px;
    }

    #mobile-nav {
        position: relative;
        width: 100vw;
        height: 0;
        top: 0;
        z-index: 5;
        padding-top: 0;
        background-color: transparent;
    }

    #mobile-nav ul {
        display: flex;
    }
    
    #mobile-nav ul li {
        margin-left: 0;
        border-bottom: 0;
        padding: 0 0;
    }

    #mobile-nav ul li p {
        padding-right: 30px;
        margin: auto;
        font-size: v.$tablet-header-font-size;
    }


    
}

@media screen and (min-width: 1200px) {

    #sticky-nav {
        left: 0.5%;
        padding: 20px 60px;
        margin: 30px 15px;
    }

    #hero img {
        height: 70%;
    }



    #mobile-nav ul li p {
        padding-left: 30px;
        margin-left: 20px;

        a {
            font-size: 18px;
        }
    }
    

    
}
