@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;


#connect {
    // min-height: 100vh;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 25px;
    position: relative;

}

#connect-sticker {
    position: absolute;
    z-index: 10;
    width: 65%;
    left: 3%;
    filter: drop-shadow(5px 5px 0 rgba(96, 96, 96, 0.536));
    transform: rotate(-10deg);
}

#contact-form {
    padding: 90px 30px;
    margin-top: 20%;
    margin-bottom: 35%;
    background-color: #b1cbe8;
    border-radius: 20px;
    z-index: 5;

    p {
        color: v.$grey-colour;
        padding-bottom: 20px;
        font-size: v.$mobile-project-categories;
        line-height: 25px;

    }

    form {
        width: 100%;
        padding: 5px 0;
        height: auto;
        font-weight: 500;
        font-size: v.$mobile-project-categories;
        color: v.$grey-colour;
    }

    label {
        padding-bottom: 10px;
    }

    input, textarea {
        margin: 10px 0;
        width: 100%;
        height: 30px;
        border-radius: 20px;
        border: none;
    }

    #send-button {
        width: 150px;
        height: 35px;
        border-radius: 50px;
        cursor: pointer;
        float: right;
        box-shadow: none;
        background-color: v.$grey-colour;
        color: v.$bg-white;
        font-size: 15px;
        transform: all 1s ease;
    }

    #send-button:hover {
        background: linear-gradient(to bottom, v.$orange-colour, rgb(210, 128, 28));
    }

    input[type=text]:focus, input[type=email]:focus, textarea:focus {
        background-color: v.$bg-white;
        padding: 5px;
        color: v.$orange-colour;
        font-size: v.$mobile-project-categories;
        font-family: v.$base-font-family;
        line-height: 25px;
    }

        input {
        width: 100%;
        padding: 5px;
        font-size: 15px;
        color: v.$primary-colour;
    }

    textarea {
        width: 100%;
        padding: 10px 5px;
        height: 200px;
        font-size: 15px;
        color: v.$primary-colour;
    }

    #feedback p {
        padding: 5px 0;
        margin: 0;
        font-size: 13px;
        line-height: 7px;
        color: v.$primary-colour;
    }

}

#connect-sticker1 {
    position: absolute;
    top: 40%;
    width: 30%;
    right: -12%;
    transform: rotate(60deg);
    filter: drop-shadow(5px 5px 0 rgba(96, 96, 96, 0.536));
}

#connect-sticker3 {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 40%;    
    transform: rotate(20deg);
    filter: drop-shadow(-5px 5px 0 rgba(96, 96, 96, 0.536));
}



@media screen and (min-width: 768px) {



#connect {
    padding-top: 50px;
    padding-bottom: 10px;
    margin: 0 80px;
}

    #connect-sticker {
        z-index: 10;
        width: 50%;
        left: 3%;
    }

    #connect-sticker1 {
        top: 40%;
        width: 20%;
        right: -8%;
    }
    
    #connect-sticker3 {
        bottom: 10%;
        left: 0;
        width: 25%;    
    }

    #contact-form {
        padding: 80px 40px;
        margin-top: 20%;
        margin-bottom: 30%;
    
        #send-button {
            width: 180px;
            height: 40px;
            font-size: 18px;
        }

        #feedback {
            padding: 10px;
        }
    
        #feedback p {
            margin: 0;
            font-size: 15px;
            line-height: 7px;
            color: v.$primary-colour;
        }
    
    }
    
    
}

@media screen and (min-width: 1200px) {

    #connect {
        padding-top: 50px;
        padding-bottom: 10px;
        // margin: 0 200px;
        width: 900px;
    }
    
        #connect-sticker {
            z-index: 10;
            width: 35%;
            left: 3%;
        }
    
        #connect-sticker1 {
            top: 40%;
            width: 20%;
            right: -8%;
        }
        
        #connect-sticker3 {
            bottom: 10%;
            left: 0;
            width: 25%;    
        }
    
        #contact-form {
            padding:100px;
            margin-top: 13%;
            margin-bottom: 30%;

            label, p {
                font-size: 18px;
            }
            
        
            #send-button {
                width: 180px;
                height: 40px;
                font-size: 18px;
            }
        
            #feedback p {
                padding: 5px 10px;
                margin: 0;
                font-size: 15px;
                line-height: 7px;
                color: v.$primary-colour;
            }
        
        }


}
