@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;


/*Basic html reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, embed, object, video, picture {
    max-width: 100%; 
}

p, h1, h2, h3, h4, h5 {
    margin: 0px; 
    padding: 0px;
}

body {
    margin: 0px; 
    padding: 0px;
    position: relative;
    justify-items: center;
    align-self: center;
    overflow-x: hidden;
    width: 100%;
    display: grid;
    place-items: center; 
}

html {
    font-family: v.$base-font-family;
    box-sizing: border-box; 
    // height: 100%;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}

h2, h3, h4, h5, h6, p {
    color: v.$primary-colour;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}
 
a {
    text-decoration: none;
}

.greyscale {
    filter: grayscale(1);
    transition: .3 ease-in-out;
}

.desktop-size {
    display: none;
}

#hero {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
  }

#hero::before {
    content: "";
    position: absolute;
    background-image: url(../images/hero-bg.png);
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  
  #hero > * {
    position: relative;
    z-index: 1;
  }


#hero-section {
    padding: 50px 70px;
    margin:30px auto;
    height: 85%;
    align-content: center;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.91) 30%, rgba(255, 255, 255, 0)70%);
    border-radius: 20px;
    z-index: 3;
    perspective: 1000px;
    transition: transform 0.1s ease-out;
}


#hero-h3 {
    margin: 0;   

    h3{
    font-size: v.$mobile-header-font-size;
    letter-spacing: 3px;
    filter: drop-shadow(5px 5px 0 #fcbb66);
    }
}

#hero-p {

    margin-top: 30px;
    font-size: v.$mobile-project-font-size;

    p {
        font-size: v.$mobile-project-font-size;
        line-height: 20px;
        color: rgb(114, 114, 114);
    }
}

#hello {
    position: relative;
    margin-top: 60px;
    margin-bottom: 10px;
    justify-self: center;
}

.graphic-box {
    width: 250px;
    height: 250px;
    background-image: linear-gradient(to bottom, #abccf6, #77a6dd, ); 
    border-radius: 20px;
    box-shadow: rgba(172, 172, 172, 0.615) 5px 5px 0;
}

#graphic1 {
    position: absolute;
    top: -10%;
    left: 0;
    transform: scale(1.2);
    // height:max-content;
    // justify-self: center;
}

.graphic2 {
    margin-left: 15px;
    margin-top: 5px;
    filter: drop-shadow(3px -3px rgba(129, 129, 129, 0.389));
}

//Project section//

#projects {
    margin: 50px 0 0 0;
    z-index: 5;
}

#projects h2 {
    margin: 50px 30px;
    font-size: v.$mobile-header-font-size;
    color: v.$bg-white;
    font-family: v.$base-font-family;
    letter-spacing: 3px;

    .first-letter {
        color: v.$orange-colour;
        font-size: 60px;
    }
}

#grid-bg {
    background-color: v.$secondary-colour-two;
    width: 100vw;
    height: max-content;
    background-color: v.$secondary-colour-two;
    background-image: url(../images/bg-transparent.png);
    background-size: 800px;
    background-position: center;
    background-repeat: repeat-y;
    border: 0.1px solid #ffffff8c;
    position: relative;
    padding-bottom: 50px;
    overflow-x: hidden;
}

.project {
    height: max-content;
    padding: 10px;
    background-color: v.$bg-white;
    justify-content: center;
    align-self: center;
    padding-bottom: 15px;
    margin-left: 0;
    margin-bottom: 15%;
    width: 95%;
    transform: all 5s ease;
    cursor: pointer;
}

.project-thumbnail {
    width: 270px;
    height: auto;
    align-items: center;
    justify-self: center;

    img {
        width: 100%;
    }
}

.desciption {
    visibility: hidden;
    margin: 10px 0;
    width: 270px;
    padding: 0;
    transition: all .1s ease-in;
    margin-left: 5px;
}

#project-brief {
    width: 300px;
}

.project:hover {
    filter: drop-shadow(8px 8px #595959c8);

    .desciption {
        visibility: visible;
    }

    .project-thumbnail img {
        transform: rotate(1deg);
        transition: all .5s ease-in;
    }

    .project-button {
        background-color: v.$orange-colour;
        color: v.$button;
    }
}

.full-width-grid-con .wrap-container {
    grid-column: 1/-1;
}


.projects-title {
    margin-top: 10px;
    font-size: 25px;
    margin-left: 5px;
}

.desciption p {
    color: rgb(112, 111, 111);
    font-size: 12px;
    line-height: 15px;
}

.categories {
    font-size: 18px;
    margin-bottom: 5px;
    color: grey;
    margin-left: 5px;
}

.project-button {
    background-color: grey;
    padding: 10px 5px;
    width: 130px;
    text-align: center;
    border-radius: 30px;
    color: v.$bg-white;
    float: right;
    font-size: 15px;
    margin-right: 25px;
    transition: all .7s ease;
}

//Video Container//

#video-container {
    width: 85%;
    // border: 2px solid v.$primary-colour;
    margin: 20px 0;
    padding: 0 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: v.$bg-white;
    justify-items: center;
    align-self: center;
}

.video-controls {
    right: 0;
    left: 0;
    padding: 15px;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.722);
    position: absolute;
    display: flex;
    transition: all 0.2s ease;
}

.video-controls.hide {
    opacity: 0;
    pointer-events: none;
}

.fa-solid, .fa-play, .fa-pause, .fa-stop {
    font-size: 25px;
    margin-right: 28px;
    color: v.$primary-colour;
}

.fa-play {
    margin-left: 10px;
    color: v.$primary-colour;
}

.fa-volume-up {
    margin-left: auto;
}

.fa-up-right-and-down-left-from-center {
    margin-left: 20px;
}

button {
    padding: 0;
    border: 0;
    background-color: transparent;
}

@media screen and (min-width: 768px) {

    #hero {
        width: 100vw;
        height: 80vh;
    }

    #hero::before {
        width: 100%;
        height: 100%;
    }

    #hero-section {
        padding: 10px 20px;
        width: 90%;
        height: 100%;
        justify-content: center;
        align-content: center;
        background: radial-gradient(circle, rgba(255, 255, 255, 0.91) 10%, rgba(255, 255, 255, 0)90%);
    }


    #hero-h3 {
        padding-bottom: 10px;
        margin-bottom: 0;
        text-align: center;
    
        h3{
        font-size: 50px;
        }
    }

    #hero-p {
        padding-left: 40px;
        margin-top: 0;
    }

    #hero-p p {
        font-size: 15px;
        line-height: 23px;
        text-align: center;
    }

    .mobile-size {
        display: none;
    }

    .desktop-size {
        display: block;
    }
    
    #hello {
        margin-top: -15%;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .graphic-box {
        width: 280px;
        height: 280px;
        background-color: #608ec6ba;
        justify-self: center;
        margin-top: 80px;
        border-radius: 20px;
    }
    
    #graphic1 {
        position: absolute;
        top: 15%;
        left: 0;
        width: 100%;
    }
    
    .graphic2 {
        margin-left: 17px;
        margin-top: 7px;
    }
    
    //Project section//

    #projects {
        margin: 50px 0 0 0;
    }

    #projects h2 {
        margin: 50px 70px;
        font-size: 50px;

        .first-letter {
            color: v.$orange-colour;
            font-size: 60px;
        }
    }

    #grid-bg {
        background-size: 80%;
        background-repeat: repeat;
        padding-bottom: 100px;
    }

    .project {
        margin: 30px auto;
        width: 80%;
    }

    .project-thumbnail {
        width: 310px;
        justify-self: left;
    }

    .desciption {
        width: 250px;
        height: 70px;
        margin-left: 0;
        padding-left: 5px;
        padding-right: 10px;

    }

    #project-brief {
        width: 300px;
        margin-left: -10%;
        padding: 10px;
        margin-top: auto;
    }


    .projects-title {
        margin-left: 0;
        padding-bottom: 5px;
    }

    .desciption p {
        color: rgb(112, 111, 111);
        font-size: 12px;
        line-height: 15px;
    }

    .categories {
        margin-left: 0;
        padding-top: 5px;
    }

    .project-button {
        margin-right: 45px;
    }

    
      //Video//

      #video-container {
        margin: 5%;
    }

}


@media screen and (min-width: 1200px) {

    #hero {
        width: 100vw;
        height: 100vh;
    }

    #hero::before {
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 10px;
    }

    #hero-section {
        padding: 30px;
        width: 100%;
        top: -8%;
        height: 100%;
        background: radial-gradient(circle, rgba(255, 255, 255, 0.91) 20%, rgba(255, 255, 255, 0)70%);
    }

    #hero-h3 {
        padding: 0;
        margin-bottom: 0;
        margin-top: -5%;
    
        h3{
        font-size: 90px;
        }
    }

    #hero-p {
        margin: 0;
        
        p {
            font-size: 20px;
            line-height: 30px;
        }
    }
    
    #hello {
        margin-top: -15%;
    }

    .graphic-box {
        width: 320px;
        height: 320px;
        margin-left: -10%;
    }

        
    #graphic1 {
        top: 13%;
        left: -10%;
    }
    
    .graphic2 {
        margin-left: 17px;
        margin-top: 5px;
    }

    //project section//

    .project {
        width: 100%;
    }

    #projects h2 {
        margin: 50px 100px;
        font-size: 60px;

        .first-letter {
            color: v.$orange-colour;
            font-size: 70px;
        }
    }

    .project-thumbnail {
        width: 400px;
        justify-self: left;

    }

    #project-brief {
        width: 250px;
        margin-left: -5%;
        padding: 10px;
    }

    .projects-title {
        font-size: 35px;
    }

    .project-button {
        margin-right: -20%;
        margin-top: 10px;
    }

    
      //Video//

      #video-container {
        margin: 5% 10%;
    }

}
