@use '../abstracts/variables' as v;


/*Basic html reset*/

img, embed, object, video, picture {
    max-width: 100%; 
}

p, h1, h2, h3, h4, h5 {
    margin: 0px; 
    padding: 0px;
}

body {
   overflow: auto;
   margin: 0px; 
   padding: 0px;
}

html {
    font-family: v.$base-font-family;
    box-sizing: border-box; 
    overflow-x: hidden;
}

h2, h3, h4, h5, h6, p {
    color: v.$body-text-colour;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}
 
a {
    text-decoration: none;
}

.message-box {
    margin: 25px 10px;
    background-color: v.$secondary-colour;
    padding: 10px;
    border-radius: v.$base-border;
    position: relative;
}

#header-message {
    grid-row-start: 1;
    z-index: 4;
    margin: 200px 20px 5px 20px;
}

#about-me-message {
    width: 250px;
    overflow: hidden;

    .tick {
        position: relative;
        margin-top: 0;
    }
}

#about-img-container {
    width: 250px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
}

.link {
    text-decoration: underline;
    color: blue;
}

#about-img-container img {
    object-fit: contain;
    height: auto;
    transform: translateY(-40px);
}


.tick {
    text-align: right;
    position: absolute;
    right: 2.5%;
    margin-top: -15px;
}

//Video Container//

#video-container {
    border: 12px solid v.$secondary-colour;
    margin: 20% 5%;
}


//Projects//

#projects {
    h2 {
        padding-bottom: 0px;
        font-size: 35px;
        font-weight: 400;
        margin-left: 5%;
    }
}

.section-line-start {
    border-bottom: 2px dashed v.$line-colour;
    margin: 30px -10px;
}

.section-line-end {
    border-bottom: 2px dashed v.$line-colour;
    margin: 30px -10px 10px -10px;
}

#projects .project-thumbnail {
    text-align: center;
    margin: 25px 10px 10px 10px;
}

.project-container {
    background-color: v.$secondary-colour;
    border-radius: 20px;
    margin: 10px 8% 30px 8%;
    padding: 0 0 25px 0;
    cursor: pointer;
    filter: drop-shadow(2px 2px 4px rgb(184, 184, 184));
    transition: transform 0.4s ease-in;
}

.project-container:hover {
    transform: scale(1.015);
    background-color: v.$primary-colour;
}

.project-container p {
    margin-left: 30px;
}

.project-container h3 {
    margin-left: 30px;
}

@media screen and (min-width: 768px) {

    //hero message//

    .message-box {
        padding: 15px;

        p {
            font-size: v.$tablet-header-font-size;
        }
    }
    
    #header-message {
        grid-row-start: 1;
        z-index: 4;
        margin: 180px 0px 5px 0px;
    }
    
    #about-me-message {
        width: 300px;
        padding-bottom: 9px;
    }
    
    #about-img-container {
        width: 300px;
        margin-bottom: 8px;
    }
    
    #about-img-container img {
        transform: translateY(-70px);
    }
    
    
    .tick {
        text-align: right;
        position: absolute;
        right: 2.5%;
        margin-top: -20px;
    }


    #video-container {
        border: 15px solid v.$secondary-colour;
        margin: 20% 10%;
    }
    
    //Project//

    #projects {
        h2 {
            margin-left: 20px;
        }
    }
    
    .section-line-start {
        margin: 30px -5px;
    }
    
    .section-line-end {
        margin: 30px -5px 10px -5px;
    }
    
    #projects .project-thumbnail {
        padding: 0 15px;
    }
    
    .project-container {
        margin: 25px 20px;
        padding: 0 0 25px 0;
    }
    
    .project-container:hover {
        transform: scale(1.015);
        background-color: v.$primary-colour;
    }
    
    .project-container p {
        margin-left: 30px;
    }
    
    .project-container h3 {
        margin-left: 30px;
    }
    
}

@media screen and (min-width: 1200px) {

    .message-box {
        padding: 15px;
        width: 600px;
    }
    
    #header-message {
        grid-row-start: 1;
        z-index: 4;
        margin: 200px 20px 5px 60px;
    }

    #projects {
        h2 {
            font-size: 50px;
        }
    }

    .project-container {
        margin: 25px 5px;
    }

    .section-line-start {
        margin: 40px -8%;
    }
    
    .section-line-end {
        margin: 40px -8% 20px -8%;
    }
    

}
