@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;


/*Basic html reset*/

img, embed, object, video, picture {
    max-width: 100%; 
}

p, h1, h2, h3, h4, h5 {
    margin: 0px; 
    padding: 0px;
}

body {
    margin: 0px; 
    padding: 0px;
    position: relative;
    justify-items: center;
    align-self: center;
    overflow: hidden;
}

html {
    font-family: v.$base-font-family;
    box-sizing: border-box; 
    overflow-x: hidden;
    // height: 100%;
    margin: 0;
}

h2, h3, h4, h5, h6, p {
    color: v.$primary-colour;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}
 
a {
    text-decoration: none;
}

.greyscale {
    filter: grayscale(1);
    transition: .3 ease-in-out;
}

.desktop-size {
    display: none;
}

//hero//

#hero {
    margin: 30px;
    position: relative;
}

#hero-h3 {
    margin-top: 20px;

    h3{
    font-size: v.$mobile-header-font-size;
    }
}

#hero-p {

    margin-top: 30px;
    font-size: v.$mobile-project-font-size;

    p {
        font-size: v.$mobile-project-font-size;
        line-height: 25px;
    }
}

#hello {
    position: relative;
    margin-top: 70px;
    margin-bottom: 30px;
    justify-self: center;
}

.graphic-box {
    width: 280px;
    height: 280px;
    background-color: #608ec6ba;
    border-radius: 20px;
}

#graphic1 {
    position: absolute;
    top: -10%;
    left: 0;
    transform: scale(1.2);
    // height:max-content;
    // justify-self: center;
}

.graphic2 {
    margin-left: 15px;
    margin-top: 5px;
    filter: drop-shadow(3px -3px rgba(129, 129, 129, 0.389));
}

//Project section//

#projects {
    margin: 40px 0 0 0;
}

#projects h2 {
    margin: 80px 30px;
    font-size: v.$mobile-header-font-size;
    color: v.$bg-white;
}

#grid-bg {
    background-color: v.$secondary-colour-two;
    width: 100vw;
    height: max-content;
    background-color: v.$secondary-colour-two;
    background-image: url(../images/bg-transparent.png);
    background-size: contain;
    background-repeat: repeat-y;
    border: 0.1px solid #ffffff8c;
    position: relative;
    padding-bottom: 50px;
}

.project {
    height: max-content;
    padding: 10px;
    background-color: v.$bg-white;
    justify-content: center;
    padding-bottom: 15px;
    margin-top: 50px;
    margin-left: -4%;
    margin-bottom: 40%;
    width: 100%;
}

.project-thumbnail {
    width: 320px;
    height: auto;
    align-items: center;
    justify-self: center;
}

.desciption {
    display: none;
    margin: 10px 0;
    width: 320px;
    padding: 0;
    transition: all .5s ease-in;
    margin-left: 5px;
}

#project-brief {
    width: 320px;
}

.project:hover {
    filter: drop-shadow(8px 8px #595959c8);

    .desciption {
        display: block;
    }

    .project-thumbnail img {
        transform: rotate(1deg);
        transition: all .5s ease-in;
    }

    .project-button {
        background-color: v.$primary-colour;
    }
}

.full-width-grid-con .wrap-container {
    grid-column: 1/-1;
}


.projects-title {
    margin-top: 10px;
    font-size: 30px;
    margin-left: 5px;
}

.desciption p {
    color: rgb(112, 111, 111);
    font-size: 12px;
    line-height: 15px;
}

.categories {
    font-size: 20px;
    margin-bottom: 5px;
    color: grey;
    margin-left: 5px;
}

.project-button {
    background-color: grey;
    padding: 10px 3px;
    // width: 130px;
    text-align: center;
    border-radius: 30px;
    color: v.$bg-white;
    width: 120px;
    float: right;
    font-size: 15px;
}

//Video Container//

#video-container {
    border: 2px solid v.$primary-colour;
    margin: 5%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.video-controls {
    right: 0;
    left: 0;
    padding: 15px;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.722);
    position: absolute;
    display: flex;
    transition: all 0.2s ease;
}

.video-controls.hide {
    opacity: 0;
    pointer-events: none;
}

.fa-solid, .fa-play, .fa-pause, .fa-stop {
    font-size: 25px;
    margin-right: 28px;
    color: v.$primary-colour;
}

.fa-play {
    margin-left: 10px;
    color: v.$primary-colour;
}

.fa-volume-up {
    margin-left: auto;
}

.fa-up-right-and-down-left-from-center {
    margin-left: 20px;
}

button {
    padding: 0;
    border: 0;
    background-color: transparent;
}



@media screen and (min-width: 768px) {

    //hero message//

    #hero {
        padding-bottom: 50px;
    }

    #hero-h3 {
        margin-top: 20px;
    
        h3{
        font-size: 60px;
        }
    }

    #hero-p {
        margin-top: 20px;
        
    }

    #hero-p p {
        font-size: 17px;
        line-height: 28px;
    }

    .mobile-size {
        display: none;
    }

    .desktop-size {
        display: block;
    }
    
    #hello {
        margin-top: 0;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .graphic-box {
        width: 300px;
        height: 300px;
        background-color: #608ec6ba;
        justify-self: center;
        margin-top: 80px;
        border-radius: 20px;
    }
    
    #graphic1 {
        position: absolute;
        top: 13%;
        left: 0;
        width: 100%;
    }
    
    .graphic2 {
        margin-left: 17px;
        margin-top: 7px;
    }
    
    //Project section//

    #projects {
        margin: 150px 0 0 0;
    }

    #projects h2 {
        margin: 50px 40px;
        font-size: 80px;
    }

    #grid-bg {
        background-size: 70%;
        background-repeat: repeat;
        padding-bottom: 150px;
    }

    .project {
        margin-left: 0;
        margin-bottom: 15%;
        width: 90%;
    }

    .project-thumbnail {
        width: 320px;
        justify-self: left;
        grid-row-start: 1;
        grid-row-end: 4;
    }

    .desciption {
        width: 270px;
        margin-left: 0;
        padding-left: 5px;
    }

    #project-brief {
        width: 270px;
        margin-left: -12%;
    }


    .projects-title {
        margin-top: 60%;
        margin-left: 0;
        padding-bottom: 5px;
        border-bottom: 1px solid rgb(157, 157, 157);
    }

    .desciption p {
        color: rgb(112, 111, 111);
        font-size: 12px;
        line-height: 15px;
    }

    .categories {
        margin-left: 0;
        text-align: right;
        padding-top: 5px;
    }

    .project-button {
        margin-top: 33%;
    }

    .project:hover {
    
        .project-button {
            margin-top: 5%;
        }
    }
    
      //Video//

      #video-container {
        margin: 5%;
    }

    
}



@media screen and (min-width: 1200px) {

    #hero {
        margin-left: -10px;
    }

    #hero-h3 {
        margin-top: 10px;
    
        h3{
        font-size: v.$desktop-header-font-size;
        }
    }

    #hero-p p {
        font-size: 20px;
        line-height: 30px;
        
    }

    #hello {
        margin-top: -5%;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .graphic-box {
        width: 350px;
        height: 350px;
    }

        //Project section//

        #projects {
            margin: 150px 0 0 0;
        }
    
        #projects h2 {
            margin: 100px 100px;
            font-size: 80px;
        }
    
        .project {
            margin-left: 0;
            margin-bottom: 10%;
            width: 95%;
        }
    
        .project-thumbnail {
            width: 310px;
        }
    
        .desciption {
            width: 220px;
        }
    
        #project-brief {
            width: 220px;
            margin-left: -7%;
        }
    
      //Video//

      #video-container {
        margin: 5% 10%;
    }

}
