@use '../abstracts/variables' as v;

//project details//

#close-button {
    background-color: v.$base-colour;
    width: 30px;
    height: 30px;
    position: relative;
    justify-self: center;
    cursor: pointer;
    margin-bottom: -10px;
}

.close {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: v.$body-text-colour;
    border-radius: 15px;
    top: 45%;
    left: 15%;
}

.close:nth-child(1) {
    transform: rotate(45deg) translate(0, 0);
}

.close:nth-child(2) {
    transform: rotate(-45deg) translate(0, 0);
}

#close-button:hover {


    transition: 0.5 ease-in-out;
    .close:nth-child(1) {
        display: none;
        background-color: v.$primary-colour;
    }

    .close:nth-child(2) {
        transform: rotate(180deg);
    }
}

#projects-details {
    background-color: v.$secondary-colour;
    border-radius: 30px;
    padding: 30px 15px 40px 15px;
    margin: 15px 20px;
    position: relative;

    p {
        font-weight: v.$base-font-weight;
        line-height: v.$mobile-line-height;
    }

    h3 {
        font-weight: v.$project-subtitle;
        margin: 10px 0;
    }
}

.project-thumbnail {
    text-align: center;
}

.project-title {
    font-size: 30px;
    padding-bottom: 15px;
    font-weight: 500;
}

.project-description {
    padding: 30px 0;
}

.project-line {
    border-bottom: 2px solid v.$base-colour;
    padding-top: 20px;
    margin: 0 -15%;
}

.detail-list {
    margin: 0;
    padding: 0;
}


.detail-list ul {
    display: flex;
    margin: 0;
    padding: 20px 0;
}

.categories {
    width: 200px;
}

.list {
    text-align: left;
    margin-top: 10px;
}

.project-image {
    margin-top: 35px;
    margin-bottom: 40px;
}

.num {
    margin-right: 5px;
    border-radius: 90px;
    padding:2px 6px;
    font-size: 14px;
    font-weight: 600;
    background-color: white;
    box-shadow: 2px 2px black;
    border: 0.5px solid black;
}

#issue {
    p {
        margin: 30px 0;
        line-height: v.$mobile-line-height;
    }
}

#solution {
    margin: 30px 0;

    p {
        margin: 30px 0;
    }
}


@media screen and (min-width: 768px) {

    #close-button {
        width: 40px;
        height: 40px;
    }
    
    .close {
        position: absolute;     
        width: 30px;
        height: 4px;
    }
    

    #projects-details {
        background-color: v.$secondary-colour;
        border-radius: 30px;
        padding: 20px 40px;
        margin: 20px 40px;

        p {
            font-weight: v.$base-font-weight;
            line-height: v.$tablet-line-height;
            font-size: v.$tablet-body-font-size;
        }
    
        h3 {
            font-weight: v.$project-subtitle;
            margin: 10px 0;
        }

        img {
            text-align: center;
        }

    }

    .project-description {
        margin-right: 20px;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .project-title {
        font-size: 40px;
        padding-bottom: 15px;
        font-weight: 500;
    }

    #project {
        position: relative;
    }
    

    .detail-list {
        border-bottom: 2px solid v.$base-colour;
    }

    .detail-list ul {
        display: block;
    }

    .categories {
        width: 0;
    }
    
    .list {
        text-align: left;
        margin-top: 0px;
    }

    .project-line {
        border-bottom: 2px solid v.$base-colour;
        margin: 0 -15%;
    }


    #credit {
        border-bottom: none;

    }


    .num span {
        font-weight: 600;
    }
    
 
}

@media screen and (min-width: 1200px) {


    #projects-details {
        padding: 50px 100px;
        margin: 40px 50px;
        border-radius: 50px;

        p {
            line-height: v.$desktop-line-height;
            font-size: v.$desktop-body-font-size;
        }

    }

    .project-description {
        margin: 0 60px 0 60px;
        

        h3 {
            font-size: v.$desktop-header-font-size;
        }

    }

    .project-title {
        font-size: 60px;
        padding-bottom: 15px;
        font-weight: 500;
    }

    .detail-list {
        // margin-left: 30px;
        padding: 0;

        h3 {
            font-size: v.$desktop-header-font-size;
        }


    }

    .project-image {
        margin-top: 35px;
        margin-bottom: 10px;
    }

    #issue {
        margin: 10px 10%;
        

        p {
        font-size: v.$desktop-body-font-size;
        line-height: v.$desktop-line-height;
        }

        h3 {
            font-size: v.$desktop-header-font-size;
        }

    }
    
    #solution {
        padding-top: 10px;
        margin: 10px 10%;
    

        p {
            font-size: v.$desktop-body-font-size;
            line-height: v.$desktop-line-height;
            }

            h3 {
                font-size: v.$desktop-header-font-size;
            }
    
    }



}






