@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.close-button {
    width: 40px;
    height: 40px;
    background-color: v.$primary-colour;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: -10px;
    cursor: pointer;
}

.close-button:hover {
    transform: translateY(-3px);
}

.close {
    height: 4px;
    width: 80%;
    background-color: v.$bg-white;
    border-radius: 20px;
    margin-left: 6px;
}

.close-button .close:nth-child(1) {
    transform: rotate(45deg) translate(0px, 3px);
}

.close-button .close:nth-child(2) {
    transform: rotate(-45deg) translate(0px, -3px);
}

#project-page {
    background-color: v.$secondary-colour-two;
    background-image: url(../images/bg-transparent.png);
    background-size: contain;
    margin: 5px;
}

#project-detail {
    background-color: v.$bg-white;
    margin: 10px;
    padding: 50px 20px;
    // border: 1px solid v.$primary-colour;
    border-radius: 10px;
    justify-self: center;
    align-self: center;

    p {
        color: v.$grey-colour;
    }
}

#project-detail h2 {
    font-size: v.$mobile-projectpage-header;
    margin: 20px 0;
}

.project-description {
    margin-bottom: 30px;
    font-size: v.$mobile-projectpage-listheader;
    line-height: 23px;
}

.main-image {
    margin-bottom: 20px;
}

.project-box {
    margin:15px 0;
    @include m.mobile-box;
    display: grid;
}

.project-box ul {
    display: flex;
}


.project-box ul li {
    width: 100px;
}

.project-image {
    margin: 30px 0;
}

.text-section {
    margin-bottom: 60px;
}

#issue {
    margin-bottom: 30px;
}

#solution {
    margin: 30px 0;
}

.text-section h3 {
    font-size: v.$mobile-projectpage-subheader;
    padding-bottom: 20px;
}


.text-section p {
    line-height: 23px;
    
}

.para {
    margin-bottom: 20px;
}

.circle-p {
    width: 17px;
    height: 17px;
    border-radius: 20px;
    background-color: v.$primary-colour;
    margin-left: 3px;
    margin-bottom: 3px;
}

.square-p {
    width: 17px;
    height: 17px;
    background-color: v.$primary-colour;
    margin-left: 3px;
    margin-bottom: 3px;
}

.triangle-p {
    width: 0;
    height: 0;
    margin-bottom: 3px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid v.$primary-colour;
}


@media screen and (min-width: 768px) {

    .close-button {
        margin-left: 50px;
    }

    #project-detail {
        margin: 20px;
        padding: 50px 40px;
    }

    .project-box ul li {
        width: 280px;
    }

    #project-detail h2 {
        font-size: 60px;
        margin-top: 50px;
    }

    .project-description {
        margin-bottom: 30px;
        font-size: 15px;
        line-height: 30px;
    }

    .project-box ul li h3 {
        font-size: 20px;
    }


    .project-box ul li p {
        font-size: 15px;
        line-height: 20px;
    }

    .text-section h3 {
        font-size: 25px;
    }

    .text-section p {
        line-height: 20px;
        font-size: 15px;
    }
    


}

@media screen and (min-width: 1200px) {

    .close-button {
        margin-left: 60%;
        margin-top: 10px;
        width: 60px;
        height: 60px;
    }

    .close {
        height: 6px;
        margin-left: 8px;
    }
    

    #project-detail {
        margin: 20px;
        padding: 50px 90px;
    }

    .project-box {
        margin-bottom: 20px;
    }

    .project-box ul li {
        width: 250px;
    }


    .project-box ul li h3 {
        font-size: v.$desktop-projectpage-listheader;
    }


    .project-box ul li p {
        font-size: v.$desktop-projectpage-body;
        line-height: 25px;
    }

    #project-detail h2 {
        font-size: v.$desktop-projectpage-header;
        margin-top: 50px;
    }

    .project-description {
        margin-bottom: 30px;
        font-size: v.$desktop-projectpage-body;
        line-height: 30px;
    }

    .text-section h3 {
        font-size: v.$desktop-projectpage-subheader;
        padding-bottom: 20px;
    }

    .text-section p {
        line-height: 23px;
        font-size: v.$desktop-projectpage-body;
    }

    #issue {
        margin-bottom: 30px;
    }
    
    #solution {
        margin: 0px 0;
    }
    

}

